
<div class="jumbotron">
    <h2>@ViewBag.Name</h2>
    <div class="row">
        <a class="btn btn-primary col-md-2" href="@Url.Action("EditAccount", "Account")">Edit Profile</a>
    </div>
    <div class="row">
        <a class="btn btn-primary col-md-2" href="@Url.Action("ChangePassword", "Account")">Change Password</a>
    </div>
    <div class="row">
        <a class="btn btn-primary col-md-2" href="@Url.Action("LogoutConfirmation", "Account")">Logout</a>
    </div>
</div>

<div class="jumbotron">
    <h2>Help Center</h2>
    <div class="row">
        <a class="btn btn-primary col-md-2" href="https://go.microsoft.com/fwlink/?LinkId=301866">Contact Us</a>
    </div>
    <div class="row">
        <a class="btn btn-primary col-md-2" href="https://go.microsoft.com/fwlink/?LinkId=301866">Privacy Policy</a>
    </div>
    <div class="row">
        <a class="btn btn-primary col-md-2" href="https://go.microsoft.com/fwlink/?LinkId=301866">Terms & Conditions</a>
    </div>
</div>

<div class="jumbotron">
    <h2>Follow Us</h2>
    <div class="row">
        <a class="btn btn-primary col-md-2" href="https://www.instagram.com/connoranderson100/">Instagram</a>
    </div>
</div>

