<h1 class="purple-accent" style=" color: #480087">Change Password</h1>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{

    <label for="OldPassword">Old Password:</label>
    <input type="text" id="OldPassword" name="OldPassword" required />

    <label for="NewPassword">New Password:</label>
    <input type="text" id="NewPassword" name="NewPassword" required />

    <label for="NewPasswordConfirmation">Confirm New Password:</label>
    <input type="text" id="NewPasswordConfirmation" name="NewPasswordConfirmation" required />

    <button type="submit">Save Changes</button>
}
<h5>
    @Html.ActionLink("Cancel", "AccountInfo", "Account")
</h5>
