<h2 style=" color: #FFFFFF">Change Password</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
<p>
    <label style="color:#FFFFFF" for="OldPassword">Old Password:</label>
    <input type="password" id="OldPassword" name="OldPassword" required />
</p>
<p>
    <label style="color:#FFFFFF" for="NewPassword">New Password:</label>
    <input type="password" id="NewPassword" name="NewPassword" required />
</p>
<p>
    <label style="color:#FFFFFF" for="NewPasswordConfirmation">Confirm New Password:</label>
    <input type="password" id="NewPasswordConfirmation" name="NewPasswordConfirmation" required />
</p>
    <button class="btn btn-blue-md" type="submit">Save Changes</button>
}
<h5>
    @Html.ActionLink("Cancel", "AccountInfo", "Account", null, new { @class = "nav-link", @style = "color: #FFFFFF" })
</h5>

<style>
    .btn-blue-md {
        display: block; /* Makes each button a block-level element */
        width: 100%; /* Ensures each button stretches to the full width of its container */
        padding: 14px 20px;
        font-size: 14px;
        line-height: 1.333333;
        color: white;
        background-color: #2f4d5a;
        border: 4px solid #FFFFFF;
        border-radius: 75px;
        margin-bottom: 10px; /* Adds space between the buttons */
        text-align: center; /* Center the text in the button */
    }
</style>
