<div class="jumbotron text-center" style="background-color: transparent; color: #FFFFFF">
    <h2 style=" color: #FFFFFF">Your account has been deleted.</h2>
    <h3>
        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link", @style = "color: #E5E5E5" })
    </h3>
</div>