<div class="jumbotron text-center" style="background-color: transparent; color: #FFFFFF">
    <h2 style=" color: #FFFFFF">Your changes have been saved.</h2>
    <h3>
        @Html.ActionLink("View My Account", "AccountInfo", "Account", null, new { @class = "nav-link", @style = "color: #E5E5E5" })
    </h3>
</div>