<h2>Are you sure you want to logout?</h2>

<a class="btn btn-primary btn-lg" href="@Url.Action("Logout", "Account")">Yes</a>
<a class="btn btn-primary btn-lg" href="@Url.Action("AccountInfo", "Account")">No</a>