<head>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<div class="col-md-5" style="font-family: 'Comfortaa'">
    <div class="row-md-5" style="font-family: 'Comfortaa'">
        <h2 style="margin-bottom: 10%; color: rgb(64 255 154)">BrewQueue Privacy Policy</h2>
        <p style=" color: #FFFFFF">
            Effective Date: 03/01/2024
        </p>
        <p style="font-family: 'Comfortaa' ;color: #FFFFFF">
            Welcome to BrewQueue, the innovative app that utilizes a virtual queue system to enhance your nightlife experience, allowing you to skip the lines at bars and clubs. This Privacy Policy outlines how we collect, use, protect, and share your information when you use our BrewQueue app.
        </p>
        <p style="font-family: 'Comfortaa' ;color: #FFFFFF">
            1. Information We Collect
        </p>
        <p style="font-family: 'Comfortaa' ;color: #FFFFFF">
            To provide you with the full functionality of BrewQueue, we collect the following types of information:
        </p>
        <p style="font-family: 'Comfortaa' ;color: #FFFFFF">
             • Personal Identification Information: This includes your name, phone number, and email address, which are necessary to create and manage your account.
        </p>
        <p style="font-family: 'Comfortaa'; color: #FFFFFF">
            • Passwords: To secure your account and authenticate your access.
        </p>
        <p style="font-family: 'Comfortaa'; color: #FFFFFF">
            • Location Information: We collect your location data to provide queue services at venues near you. This data is only used temporarily and is not stored.
        </p>
        <p style="font-family: 'Comfortaa'; color: #FFFFFF">
            2. Use of Information
        </p>
        <p style="font-family: 'Comfortaa'; color: #FFFFFF">
            The information we collect is used to:
        </p>
        <p style="font-family: 'Comfortaa'; color: #FFFFFF">
            • Facilitate the creation and management of your BrewQueue account.
        </p>
        <p style="font-family: 'Comfortaa'; color: #FFFFFF">
            • Provide you with the app's services, such as placing you in virtual queues.
        </p>
        <p style="font-family: 'Comfortaa'; color: #FFFFFF">
            • Improve and customize your user experience.
        </p>
        <p style="font-family: 'Comfortaa'; color: #FFFFFF">
            3. Data Storage and Protection
        </p>
        <p style="font-family: 'Comfortaa'; color: #FFFFFF">
            Your data is stored securely on an AWS server. We implement industry-standard security measures to protect your information from unauthorized access, alteration, and disclosure.
        </p>
        <p style="font-family: 'Comfortaa'; color: #FFFFFF">
            4. Data Sharing
        </p>
        <p style="font-family: 'Comfortaa'; color: #FFFFFF">
            BrewQueue does not share your personal information with third parties.
        </p>
        <p style="font-family: 'Comfortaa'; color: #FFFFFF">
            5. User Consent and Rights
        </p>
        <p style="font-family: 'Comfortaa'; color: #FFFFFF">
            Location Data: BrewQueue will request your permission before accessing your location data to place you in a virtual queue.
            Account Information: You have the right to edit your personal information, such as your name, password, and phone number. To change your email or username, please contact our support team.
        </p>
        <p style="font-family: 'Comfortaa'; color: #FFFFFF">
            6. Data Retention
        </p>
        <p style="font-family: 'Comfortaa'; color: #FFFFFF">
            Your account information is retained until you choose to delete your account. Location information is used temporarily and is not stored.
        </p>
        <p style="font-family: 'Comfortaa'; color: #FFFFFF">
            7. Children's Privacy
        </p>
        <p style="font-family: 'Comfortaa'; color: #FFFFFF">
            By creating an account, you confirm that you are at least 21 years of age. BrewQueue does not knowingly collect information from individuals under 21.
        </p>
        <p style="font-family: 'Comfortaa'; color: #FFFFFF">
            8. International Use
        </p>
        <p style="font-family: 'Comfortaa'; color: #FFFFFF">
            Currently, BrewQueue is only available for users in the United States.
        </p>
        <p style="font-family: 'Comfortaa'; color: #FFFFFF">
            9. Changes to This Privacy Policy
        </p>
        <p style="font-family: 'Comfortaa'; color: #FFFFFF">
            We may update our Privacy Policy from time to time. If we make changes, we will notify you by requiring your acceptance of the new terms the next time you log into the app.
        </p>
        <p style="font-family: 'Comfortaa'; color: #FFFFFF">
            10. Contact Us
        </p>
        <p style="font-family: 'Comfortaa'; color: #FFFFFF">
            If you have any questions or concerns about this Privacy Policy or your data privacy with BrewQueue, please contact us at admin@brew-queue.com.
        </p>
    </div>
</div>
<div class="row-md-4">
</div>

<style>
    .btn-blue-md {
        display: block; /* Makes each button a block-level element */
        width: auto; /* Ensures each button stretches to the full width of its container */
        padding: 5px 10px;
        font-size: 14px;
        font-family: 'Comfortaa';
        line-height: 1.333333;
        color: #1e1e1e;
        background-color: rgb(64 255 154);
        border: 1px solid #FFFFFF;
        border-radius: 75px;
        margin-bottom: 10px; /* Adds space between the buttons */
        text-align: center; /* Center the text in the button */
    }
</style>
