<head>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<div class="jumbotron text-center" style="font-family: 'Comfortaa'; background-color: transparent; color: #FFFFFF">
    <h2 style=" color: #FFFFFF">You are already currently in a line.</h2>
    <h3>
        @Html.ActionLink("View MyQueue", "MyQueueActive", "Queue", null, new { @class = "nav-link", @style = "color: #FFFFFF; font-family: 'Comfortaa'" })
    </h3>

    <img src="https://thebrewqueue.com/Images/BrewQueueLogoNoBackground.png" alt="Profile Picture" style="max-width: 200px; max-height: 200px;" />
</div>
