<div class="jumbotron text-center" style="background-color: transparent; color: #FFFFFF">
    <h2 style=" color: #FFFFFF">You may now enter.</h2>
    <h3>Enjoy your time at @ViewBag.Message</h3>
    <h3>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link", @style = "color: #FFFFFF" })</h3>
</div>