<h2>Are you sure you want to grant access</h2>
<h6>Your spot in line will be terminated if you proceed and do not have proper permission to enter @ViewBag.Title</h6>

<a class="btn btn-primary btn-lg" href="@Url.Action("EnteringBar", "Queue")">Yes</a>
<a class="btn btn-primary btn-lg" href="@Url.Action("ReadyToEnter", "Queue")">No</a>
