<h2>Are you sure you want to extend your time?</h2>
<h6>You will be charged $2.50 if you select Yes</h6>

<a class="btn btn-primary btn-lg" href="@Url.Action("ExtendTime", "Queue")">Yes</a>
<a class="btn btn-primary btn-lg" href="@Url.Action("Timer", "Queue")">No</a>
