<div class="jumbotron text-center" style="background-color: transparent; color: #FFFFFF">
    <h2 style=" color: #FFFFFF">Are you sure you want to extend your time?</h2>
    <h6 style="color:#FFFFFF">You will be charged $2.50 if you select Yes</h6>
</div>

<a class="btn btn-blue-md" href="@Url.Action("ExtendTime", "Queue")">Yes</a>
<a class="btn btn-blue-md" href="@Url.Action("Timer", "Queue")">No</a>


<style>
    .btn-blue-md {
        display: block; /* Makes each button a block-level element */
        width: 100%; /* Ensures each button stretches to the full width of its container */
        padding: 14px 20px;
        font-size: 14px;
        line-height: 1.333333;
        color: white;
        background-color: #2f4d5a;
        border: 4px solid #FFFFFF;
        border-radius: 75px;
        margin-bottom: 10px; /* Adds space between the buttons */
        text-align: center; /* Center the text in the button */
    }
</style>