<h2>I am the doorman and I permit entry</h2>
<h6>Your spot in line will be terminated if you proceed and do not have proper permission to enter.</h6>

<a class="btn btn-purple btn-lg" href="@Url.Action("EnteringBar", "Queue")">Yes</a>
<a class="btn btn-purple btn-lg" href="@Url.Action("GrantAccess", "Queue")">No</a>
