@{
    var numberList = new SelectList(Enumerable.Range(1, 5), "1");
}

<h2 style=" color: #FFFFFF">@ViewBag.Title</h2>

<h3 style="color: #FFFFFF">@ViewBag.Message</h3>
@using (Html.BeginForm("AddToQueue", "Queue", FormMethod.Post))
{

    <label for="numberSelect" style="color: #FFFFFF; background-color: #2f4d5a">Select a Quantity:</label>
    @Html.DropDownList("numberSelect", numberList)

    <button class="btn btn-blue-md" type="submit">Join Line</button>
}

<style>
    .btn-blue-md {
        display: block; /* Makes each button a block-level element */
        width: 100%; /* Ensures each button stretches to the full width of its container */
        padding: 14px 20px;
        font-size: 14px;
        line-height: 1.333333;
        color: white;
        background-color: #2f4d5a;
        border: 4px solid #FFFFFF;
        border-radius: 75px;
        margin-bottom: 10px; /* Adds space between the buttons */
        text-align: center; /* Center the text in the button */
    }
</style>
