<h2 style=" color: #FFFFFF">This Queue is not currently open. Please check again later.</h2>
<h3>
    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link", @style = "color: #FFFFFF" })
</h3>