<h2 style=" color: #FFFFFF">Your time has expired. You have been removed from the @ViewBag.Message line. </h2>
<h3>
    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link", @style = "color: #FFFFFF" })
</h3>
