<h2 style=" color: #FFFFFF">Your account was successfully created</h2>
<h3>
    Please proceed to
    @Html.ActionLink("Login", "AccountLogin", "AccountLogin", null, new { @class = "nav-link", @style = "color: #FFFFFF" })
</h3>