<head>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<div class="col-md-4" style="font-family: 'Comfortaa'">
    <div class="row-md-4">
        <h1 class="blur-accent" style="margin-bottom: 10%; color: rgb(64 255 154)">About us</h1>
        <h3 style=" color: rgb(64 255 154)">The BrewQueue Advantage</h3>
        <p style=" color: #FFFFFF">
            BarHop is a revolutionary mobile application designed to redefine
            the nightlife experience in college towns and beyond. Our mission is
            simple yet impactful: to provide a cost-effective and efficient solution
            for bar-goers to avoid long queues, while simultaneously offering bars an
            additional stream of revenue and a way to manage crowds more effectively.
        </p>
    </div>

    <div class="row-md-4">
        <h3 style=" color: rgb(64 255 154)">Innovative Features</h3>
        <p style=" color: #FFFFFF">
            BrewQueue’s user-friendly interface allows customers to easily select a bar and secure a
            spot in a virtual line. The app provides real-time updates on wait times and sends notifications
            to users 15 minutes before their estimated arrival. With options to extend their wait time or withdraw
            with a partial refund, BrewQueue prioritizes user convenience and flexibility.
        </p>
        <p>
            <a class="btn btn-blue-md col-md-2" href="https://thebrewqueue.com/">Click here to learn more.</a>
        </p>
    </div>
</div>
<div class="row-md-4">
</div>

<style>
    .btn-blue-md {
        display: block; /* Makes each button a block-level element */
        width: auto; /* Ensures each button stretches to the full width of its container */
        padding: 5px 10px;
        font-size: 14px;
        font-family: 'Comfortaa';
        line-height: 1.333333;
        color: rgb(64 255 154);
        background-color: transparent;
        border: none;
        border-radius: 75px;
        margin-bottom: 10px; /* Adds space between the buttons */
        text-align: center; /* Center the text in the button */
    }
</style>
