<h2>BrewQueue Account</h2>

<div class="jumbotron">
    <p>
        <a class="btn btn-primary btn-lg" href="@Url.Action("CreateAccount", "AccountCreate")">Create a New Account</a>
        <a class="btn btn-primary btn-lg" href="@Url.Action("AccountLogin", "AccountLogin")">Login to Existing Account</a>
    </p>
</div>