<h2 style=" color: #FFFFFF">Account Login</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("AccountLogin", "AccountLogin", FormMethod.Post))
{
    <div class="floating-label-group">
        <input type="text" id="Username" name="Username" required />
        <label for="Username">Username</label>
    </div>
    <div class="floating-label-group">
        <input type="password" id="Password" name="Password" required />
        <label for="Password">Password</label>
    </div>
    <button class="btn btn-blue-md" type="submit">Submit</button>
}

<h5>
    @Html.ActionLink("Forgot Password", "ForgotPassword", "AccountLogin", null, new { @class = "nav-link", @style = "color: #FFFFFF" })
</h5>


<style>
    .btn-blue-md {
        display: block; /* Makes each button a block-level element */
        width: 100%; /* Ensures each button stretches to the full width of its container */
        padding: 14px 20px;
        font-size: 14px;
        line-height: 1.333333;
        color: white;
        background-color: #2f4d5a;
        border: 4px solid #FFFFFF;
        border-radius: 75px;
        margin-bottom: 10px; /* Adds space between the buttons */
        text-align: center; /* Center the text in the button */
    }

    .floating-label-group {
        position: relative;
        margin-bottom: 20px;
    }

        .floating-label-group input {
            font-size: 14px;
            color: #FFFFFF;
            background-color: #2f4d5a;
            border: 1px solid #FFFFFF;
            padding: 10px 10px 10px 5px;
            display: block;
            width: 100%;
        }

        .floating-label-group label {
            color: #FFFFFF;
            pointer-events: none;
            position: absolute;
            top: 10px;
            left: 5px;
            transition: all 0.2s ease;
        }

        .floating-label-group input:focus ~ label,
        .floating-label-group input:not(:placeholder-shown) ~ label,
        .floating-label-group input.filled ~ label {
            top: -14px;
            font-size: 12px;
        }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var inputElements = document.querySelectorAll('.floating-label-group input');

        inputElements.forEach(function (input) {
            input.addEventListener('focus', toggleLabel);
            input.addEventListener('blur', toggleLabel);
            toggleLabel.call(input); // Initialize on page load
        });

        function toggleLabel() {
            if (this.value !== '') {
                this.classList.add('filled');
            } else {
                this.classList.remove('filled');
            }
        }
    });
</script>