<h2>ForgotPassword</h2>

@using (Html.BeginForm("ForgotPassword", "ForgotPassword", FormMethod.Post))
{
    <label for="Email">Email:</label>
    <input type="text" id="Email" name="Email" required />

    <button type="submit">Submit</button>
}

