<h2 style=" color: #FFFFFF">ForgotPassword</h2>

@using (Html.BeginForm("ForgotPassword", "AccountLogin", FormMethod.Post))
{
    <label style="color:#FFFFFF" for="Email">Email:</label>
    <input type="text" id="Email" name="Email" required />

    <button class="btn btn-blue-md" type="submit">Submit</button>
}

<style>
    .btn-blue-md {
        padding: 14px 20px;
        font-size: 14px;
        line-height: 1.333333;
        color: white;
        background-color: #2f4d5a;
        border-bottom: 4px solid #FFFFFF;
        border-top: 4px solid #FFFFFF;
        border-left: 4px solid #FFFFFF;
        border-right: 4px solid #FFFFFF;
        border-radius: 75px;
    }
</style>