<head>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<div class="form-container">
    <h1 style="font-family: 'Comfortaa'; color: rgb(64 255 154)">Forgot Password</h1>
    <div class="jumbotron text-center" style="font-family: 'Comfortaa'; background-color: transparent; color: #FFFFFF">

        <h4 style="margin-bottom: 20px">@ViewBag.Message</h4>

        @using (Html.BeginForm("ForgotPassword", "AccountLogin", FormMethod.Post))
        {
            <div class="floating-label-group">
                <input type="text" id="Email" name="Email" required />
                <label for="Email">Email:</label>
            </div>

            <button class="btn btn-blue-md" type="submit">Submit</button>
        }
    </div>
</div>

<style>
    .btn-blue-md {
        padding: 14px 20px;
        font-size: 14px;
        line-height: 1.333333;
        color: #1e1e1e;
        background-color: rgb(64 255 154);
        border-radius: 75px;
        font-family: 'Comfortaa'
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        max-width: 100%; /* Adjust this value based on your design requirements */
        margin: 0 auto; /* Centers the container */
    }



    .floating-label-group {
        position: relative;
        margin-bottom: 20px;
        font-family: 'Comfortaa'
    }

        .floating-label-group input {
            font-size: 14px;
            color: #FFFFFF;
            background-color: transparent;
            border: 1px solid #FFFFFF;
            padding: 10px 10px 10px 5px;
            display: block;
            width: 100%;
            font-family: 'Comfortaa'
        }

        .floating-label-group label {
            color: #FFFFFF;
            pointer-events: none;
            position: absolute;
            top: 10px;
            left: 5px;
            transition: all 0.2s ease;
            font-family: 'Comfortaa'
        }

        .floating-label-group input:focus ~ label,
        .floating-label-group input:not(:placeholder-shown) ~ label,
        .floating-label-group input.filled ~ label {
            top: -14px;
            font-size: 12px;
        }
</style>
<script>
    // Scroll to the bottom of the page when the page is loaded
    window.addEventListener('load', function () {
        window.scrollTo(0, document.body.scrollHeight);
    });
</script>