<h2 style=" color: #FFFFFF">Password was reset successfully.</h2>
<h3>
    @Html.ActionLink("Login", "AccountLogin", "AccountLogin", null, new { @class = "nav-link", @style = "color: #FFFFFF" })
</h3>
