<h2 class="blue-accent" style=" color: #2f4d5a">Reset Password</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("ResetPassword", "AccountLogin", new { token = ViewBag.token }, FormMethod.Post))
{
    <input type="hidden" name="token" value="@ViewBag.token">

    <label for="NewPassword">New Password:</label>
    <input type="password" id="NewPassword" name="NewPassword" required />

    <label for="NewPasswordConfirmation">Confirm New Password:</label>
    <input type="password" id="NewPasswordConfirmation" name="NewPasswordConfirmation" required />

    <button class="btn btn-blue-md" type="submit">Save Changes</button>
}

<style>
    .btn-blue-md {
        padding: 14px 20px;
        font-size: 14px;
        line-height: 1.333333;
        color: white;
        background-color: #2f4d5a;
        border-bottom: 4px solid #FFFFFF;
        border-top: 4px solid #FFFFFF;
        border-left: 4px solid #FFFFFF;
        border-right: 4px solid #FFFFFF;
        border-radius: 75px;
    }
</style>